/* 
0 - 600px Phone
600 - 900px Tablet portrait
900 - 1200px Tablet landscape
1200 - 1800 is where
1800px + ? Big desktop 

$breakpoint argument choice:
- phone 
- tab-port
- tab-land
- big-desktop

1em = 16px 
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  transition: all .2s ease-in-out; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: Raleway, sans-serif;
  line-height: 1.7;
  box-sizing: border-box; }

button {
  cursor: pointer; }

.heading-primary {
  color: #FFFFFF; }
  .heading-primary--main {
    transition: all .2s ease-in-out;
    display: block;
    font-size: 5.2rem; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        transition: all .2s ease-in-out;
        font-size: 2.2rem; } }
  .heading-primary--sub {
    font-size: 2.2rem; }

.u-wrapper-heading {
  width: 114rem;
  margin: 4.2rem auto; }
  @media (max-width: 75em) {
    .u-wrapper-heading {
      padding: 0 3.2rem 0 3.2rem; } }

.u-margin-bottom {
  margin-bottom: .8rem; }

.banner {
  display: flex;
  align-items: flex-end;
  background-image: url(/img/Hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40.2rem; }

.btn-line {
  width: 18.2rem;
  height: 5rem;
  background-color: #FFFFFF;
  border: 1px solid blue;
  color: #2A7AE4;
  margin-left: auto; }
  @media (max-width: 48em) {
    .btn-line {
      width: 13.3rem;
      height: 4rem;
      margin: 0 auto; } }

.wrapper-button {
  margin-top: 1.6rem; }

.btn-fill {
  width: 13rem;
  height: 5rem;
  background-color: #2A7AE4;
  border: none;
  color: #FFFFFF; }

.footer {
  background: #EAF2FD;
  padding: 10rem 0 10rem 0; }
  @media (max-width: 43.75em) {
    .footer {
      padding: 2rem 0 2rem 0; } }
  .footer__content {
    max-width: 114rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    transition: all .2s ease-in-out; }
    @media (max-width: 68.75em) {
      .footer__content {
        padding: 0 3.2rem 0 3.2rem; } }
    @media (max-width: 43.75em) {
      .footer__content {
        flex-direction: column; } }
  .footer__content-logo-nav {
    display: flex;
    flex: 1; }
    @media (max-width: 56.25em) {
      .footer__content-logo-nav {
        flex-direction: column;
        flex: 0; } }
  @media (max-width: 43.75em) {
    .footer__logo-box {
      margin: 0 auto; } }
  .footer__navigation {
    margin: 0 auto; }
  .footer__list {
    list-style: none; }
    @media (max-width: 43.75em) {
      .footer__list {
        text-align: center; } }
  .footer__item:not(:last-child) {
    margin-bottom: 1.4rem; }
  .footer__link {
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #464646;
    font-weight: 500; }
  .footer__form {
    width: 56rem;
    position: relative; }
    @media (max-width: 43.75em) {
      .footer__form {
        width: 32.8rem;
        margin: 0 auto; } }
    @media (max-width: 43.75em) {
      .footer__form-content {
        margin-top: 3.2rem; } }
  .footer__title {
    color: #464646;
    font-size: 1.6rem; }
    @media (max-width: 43.75em) {
      .footer__title {
        width: 32.8rem;
        margin: 0 auto; } }
  .footer__user-box {
    position: relative; }
    @media (max-width: 43.75em) {
      .footer__user-box:first-child {
        margin-bottom: 1.6rem; } }
    .footer__user-box label {
      font-size: 1.2rem;
      color: #A2A2A2;
      position: absolute;
      padding: 1rem 0;
      pointer-events: none;
      transition: all .5s;
      top: 0;
      left: 1rem; }
  .footer__input {
    padding: 1rem 0 0 1rem;
    height: 5.6rem;
    width: 100%;
    border-radius: .4rem;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    margin-bottom: 1.5rem; }
    .footer__input:focus ~ label,
    .footer__input:valid ~ label {
      top: -10px; }
    @media (max-width: 43.75em) {
      .footer__input {
        margin: 0 auto; } }
  .footer__text-area {
    padding: 1rem 0 0 1rem;
    resize: none;
    height: 8.2rem;
    width: 100%;
    border-radius: .4rem;
    border: none;
    border-bottom: 1px solid #C8C8C8;
    font-size: 1.6rem; }
  .footer__text-area::placeholder {
    font-family: Raleway;
    color: #A2A2A2; }
  .footer__btn {
    width: 16.5rem;
    height: 5rem;
    background-color: #2A7AE4;
    border: none;
    color: #FFFFFF; }

.header {
  display: flex;
  align-items: center;
  height: 13.6vh;
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 75em) {
    .header {
      padding: 0 3.2rem 0 3.2rem; } }
  .header__form {
    position: relative; }
  .header__form-input {
    border: none;
    height: 4rem;
    width: 39.3rem;
    border-radius: 2rem;
    background: #F5F5F5;
    padding: 0 0 0 1.6rem;
    margin-left: 3.2rem;
    transition: all .2s ease-in-out; }
    @media (max-width: 37.5em) {
      .header__form-input {
        width: 1rem;
        background-color: transparent; } }
  .header__form-button {
    position: absolute;
    top: 50%;
    left: 93%;
    transform: translate(-50%, -50%);
    border: none;
    background: transparent;
    cursor: pointer; }
  .header__container {
    display: flex;
    align-items: center;
    flex: 1; }
    @media (max-width: 37.5em) {
      .header__container {
        flex-direction: row-reverse; } }

.logo-box--width {
  transition: all .2s ease-in-out;
  width: 100%; }

@media (max-width: 56.25em) {
  .logo-box {
    transition: all .2s ease-in-out; }
    .logo-box--width {
      transition: all .2s ease-in-out;
      width: 120px; } }

.made-by {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 10rem;
  background-color: #FFFFFF;
  font-size: 1.6rem;
  color: #464646;
  font-weight: 500; }

.main {
  max-width: 114rem;
  margin: 6.4rem auto; }
  @media (max-width: 75em) {
    .main {
      padding: 0 3.2rem 0 3.2rem; } }

.product {
  margin-bottom: 6.4rem; }
  .product__header {
    display: flex;
    margin-bottom: 1.6rem; }
  .product__title {
    font-size: 3.2rem;
    color: #464646; }
  .product__see-it-all {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    color: #2A7AE4;
    margin-left: auto;
    text-decoration: none;
    font-weight: 700; }
  .product__icon {
    margin-left: 1rem; }
  .product__list {
    display: flex;
    list-style: none;
    overflow: hidden;
    justify-content: space-between;
    gap: 1.6rem; }
    @media (max-width: 37.5em) {
      .product__list {
        justify-content: center;
        flex-wrap: wrap;
        height: 50rem; } }
  .product__link {
    text-decoration: none; }
  .product__img {
    background: red; }
    @media (max-width: 37.5em) {
      .product__img {
        width: 18.4rem; } }
  .product__content {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    color: #464646; }
  .product__description {
    font-weight: 400;
    font-size: 1.6rem; }
  .product__price {
    font-weight: 700; }
  .product__view-product {
    color: #2A7AE4;
    font-weight: 700; }
