.banner {
  display: flex;
  align-items: flex-end;
  background-image: url(/img/Hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40.2rem;

  @include respond(phone) { // width < 600px
   
    height: 24rem;
  }
}