.form {

  &__box {
    width: 56rem;
    position: relative;
    margin: 0 auto;
    @include respond(phone-3) { // width < 700px
      width: 40rem;
     @include margin-center;
     } 
  }

  &__title {
    color: $color-grey-100;
    font-size: $default-font-size;
    @include respond(phone-3) { // width < 700px
      //width: 40rem;
     //margin: 0 auto .8rem;
     }
  }

  &__user-box {
    position: relative;
  
    // @include respond(phone-3) { // width < 700px
  
    //   &:first-child {
    //     margin-bottom: 1.6rem;
    //   }
  
    // } 
  
  
    label {
      font-size: 1.2rem;
      color: $color-grey-50;
      position: absolute;
      padding: 1rem 0;
      pointer-events: none;
      transition: all .5s;
      top: 0;
      left: 1rem;   
    }
    
  }

  &__input {
    @include padding-input-textArea;
    @include input-textArea(5.6rem);  
    &:focus ~ label,
    &:valid ~ label {
      top: -10px;
    }
  
      margin-bottom: 1.5rem;
  
      // @include respond(phone-3) { // width < 700px
      //   @include margin-center;
      //  } 
 
       
     @include respond(phone) { // width < 600px
 
       width: 97%;
 
     }
  }
}


.btn {
  @include style-button(16.5rem, 5rem, $color-primary, none, $white);

  @include respond(phone) { // width < 600px
 
    width: 97%;

  }


}