.heading-primary {
  
  color: $white;

  @include respond(phone) { // width < 600px
   line-height: 1.5;  
  }

  &--main {
    @include transition;
    display: block;
    font-size: 5.2rem;

    @include respond(phone) { // width < 600
      @include transition;
      @include font-small;
    }
  }
  
  &--sub {
    @include font-small;

    @include respond(phone) { // width < 600px
      font-size: 1.4rem;   
    }

  }
}