.u-wrapper-heading {
  width: 114rem;
  margin: 4.2rem auto;
  
  @include respond(tab-land) { // width <768
    @include padding;
  }

  @include respond(phone) { // width < 600px
    margin: 2.2rem auto;    
  }
}

.u-margin-bottom {
  margin-bottom: .8rem;
}
