.main {
  
  @include width($width);
  margin: 6.4rem auto;
  @include respond(tab-land) { // width < 1200px
    @include padding
  }

  @include respond(phone-2) { // width < 768px
    margin: 1.6rem auto;
  }
}

.product {
  margin-bottom: 6.4rem;

  @include respond(phone) { // width < 600px
    margin-bottom: 3.4rem;
   }

  &__header {
    display: flex;
    margin-bottom: 1.6rem;
  }

  &__title {
    font-size: 3.2rem;
    color: $color-grey-100;
  }

  &__see-it-all {
    display: flex;
    align-items: center;
    font-size: $default-font-size;
    color: $color-primary;
    margin-left: auto;
    text-decoration: none;
    font-weight: 700;      
  }

  &__icon {
    margin-left: 1rem;
  }


  &__list {
    display: flex;
    list-style: none;
    overflow: hidden;
    justify-content: space-between;
    column-gap: 1.6rem;
    
    @include respond(phone) { // width < 600px
      flex-wrap: wrap;
      height: 56rem;
      column-gap: 0;
     }
  }

  &__item {
    @include transition;
    width: 48%;

    @include respond(phone) { // width < 600px
     margin-bottom: 1rem;
    }

    &:hover {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
    }
  }
 
  &__link {
    text-decoration: none;
    
  }

  &__img {
    @include respond(phone) { // width < 600px
     width: 100%;
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    font-size: $default-font-size;
    color: $color-grey-100;
  }
  
  &__description {
    font-weight: 400;
    font-size: $default-font-size;
  }
  
  &__price {
    font-weight: 700;
  }

  &__view-product{
    color: $color-primary;
    font-weight: 700;
  }
}